Source: ros-indigo-std-srvs
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-message-generation
Homepage: http://ros.org/wiki/std_srvs
Standards-Version: 3.9.2

Package: ros-indigo-std-srvs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-message-runtime
Description: Common service definitions. Currently just the 'Empty' service.
